body {
  background: linear-gradient(to right, rgb(108, 159, 200), rgb(88, 197, 137));
  font-family: cursive !important;
}
#toggle-start {
  margin: auto;
  justify-content: center;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
.toggle-content {
  padding: 30px;
}
#btn-start {
  display: flex;
  margin: auto;
  margin-top: 30px;
  background: linear-gradient(to right, rgb(85, 181, 132), #9c7cdc);
}
.btn-start:hover {
  box-shadow: 2px 4px #319ed4;
  cursor: pointer;
}
.toggle-start {
  border: 3px solid #cfd8e2;
  background-color: rgb(3, 38, 49);
  color: #c6e5e3;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 6px 6px #c6e5e3;
}
li {
  list-style: none;
}
